<launch>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  
  <node pkg="hotshot" type="hotshot_control.py" name="controller"/>
  <node pkg="hotshot" type="hotshot_image" name="image_processor">
    <param name="image_channel" value="/cameras/right_hand_camera/image" />
  </node>


</launch>
